@import "tailwindcss";

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-white;
    }
}

.form-control {
    @apply block border border-slate-200 text-slate-800 dark:text-white dark:border-slate-500 w-full px-2 py-1.5 text-sm bg-slate-200 dark:bg-slate-500 rounded-lg outline-none focus:ring-2 focus:ring-blue-500/30 disabled:text-slate-500 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

.form-select {
    @apply block border border-slate-200 text-slate-800 dark:text-white dark:border-slate-500 w-full px-2 py-1.5 text-sm bg-slate-200 dark:bg-slate-500 rounded-lg outline-none focus:ring-2 focus:ring-blue-500/30 disabled:text-slate-500 disabled:bg-gray-300 disabled:cursor-not-allowed;
}

@layer components {
    .btn-primary {
        @apply py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700;
    }

    .table {
        @apply divide-y divide-gray-200;
    }

    .table thead th {
        @apply py-4 text-gray-700 border-b-2 border-blue-200;
    }

    .table tfoot th {
        @apply py-4 text-gray-700 border-t-2 border-b-0 border-orange-200;
    }

    .table th,
    .table td {
        @apply px-6 py-2 whitespace-nowrap;
    }

    .table tr {
        @apply border-b border-slate-200 last:border-0;
    }
}
